body {
  background-color: slategrey; }

ul {
  list-style: none; }

.container {
  margin: auto;
  width: 950px; }

.new-contact input {
  display: block;
  margin: auto; }

.new-contact form {
  padding-top: 5px;
  margin: auto;
  height: 170px; }

.new-contact button {
  position: absolute;
  right: 105px;
  bottom: 1px; }

.block {
  position: relative;
  margin: auto;
  width: 400px;
  border-radius: 5px;
  height: 100%; }
  .block h4 {
    margin-bottom: 0;
    color: white;
    padding: 5px 50px;
    border-bottom: 1px solid black; }

.fa-trash-o {
  float: right;
  cursor: pointer; }

.content-left {
  float: left; }
  .content-left li {
    margin-bottom: 5px;
    color: white;
    background-color: rgba(151, 198, 202, 0.93); }

.content-right {
  float: right; }

.hidden {
  visibility: hidden;
  height: 0; }

.list {
  background-color: white; }
