@import "bourbon/bourbon";
@import "neat/neat";

body{
background-color: darkslategrey;
font-family: 'Play', sans-serif;
}
ul{
  list-style: none;
}
.container{
  @include outer-container;
  background-color: slategrey;
  // margin: auto;
  // width: 950px;
}
.new-contact{
  label{
    display: block;
    font-size: 15px;
    color: black;
    margin: 10px;
  }
  input{
    display: block;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
  }
  form{
    padding-top: 5px;
    margin: auto;
  }
  button{
    position: absolute;
    right: 55px;
    bottom: 8px;
  }
}
.block{
  position: relative;
  margin: auto;
  h4{
    margin-bottom: 0;
    color: white;
    padding: 5px 50px;

  }

  height: 100%;
}
.form-holder{
  height: 430px;
}
.fa-trash-o{
  float: right;
  cursor: pointer;
}
.content-left{
  @include span-columns(4);
  // float: left;
  li{
    margin-bottom: 5px;
    color: white;
    background-color: rgba(151, 198, 202, 0.93);
    border-radius: 5px;
  }
}
.content-right{
  @include span-columns(8);
  margin-top: 50px;
  // float: right;

}
.hidden{
  visibility: hidden;
  height: 0;
}
.list{
  background-color: white;
  width: 65%;
  border-radius: 20px;
  i{
    font-size: 80px;
    text-align: center;
    border: 1px solid black;
    border-radius: 60px;
    padding: 18px;
    color: white;
    background-color: black;
  }
}
.imageholder{
  font-size: 110px;
  display: block;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
